# Homework 1.2 - String concatenation, type casting & functions

In this notebook we'll now look at combining a few of the features we looked at in the previous notebook so that we can handle numbers correctly. We'll also explore concatenating strings together using the ```+``` operator. Function calling, looping and conditional statements will also be covered. At the end a small challenge will be set, feel free to have a crack if you want to test your skills thus far!

## String concatenation

Building on the foundations of the last notebook, let's look at how we can use are inputs and concatenate them with other strings. If you remember from the start of the notebook, we briefly brushed over the ```+``` operator which will allow us to do this.

In [1]:
name = 'Ethan'
print("My name is " + name)

My name is Ethan

The example above shows how we can conacatenate strings together to create a different output. Now let's see how we can do it with a string and an integer...

In [2]:
print("My age is " + 20)

TypeError: can only concatenate str (not "int") to str

Looking at the output, can you see what has happened here... 

We can only concatentate strings together - but how do we add an integer into the sentence?

In [3]:
age = 20
age_str = str(age)
type(age_str)

str

In [4]:
print("My age is " + age_str)

My age is 20

To concatentate we've casted the integer 20 into a string and then concatenated it to the string "My age is"! 

What is casting - let's take a further look into the process and use cases of type casting.

## Type casting & the ```input()``` function in more detail

Type casting is the process of changing the data type of a value for example from a integer to a float. It is done using a casting function depending on the type you want to cast to:

In [5]:
example_1 = type(str(1)) # int -> string
example_2 = type(int("1")) #string -> int
example_3 = type(bool("True")) #string -> boolean
example_4 = type(float(1)) #int -> float

print(example_1, example_2, example_3, example_4)

<class 'str'> <class 'int'> <class 'bool'> <class 'float'>

As we can see from the printed classes and the code snippet, we have access to numerous casting functions to change the types of variables - if they're compatible.

By default, the ```input()``` function returns a string. For the cell below, enter in the value ```6``` for the sake of this example!

In [10]:
random_number = input()

3

In [11]:
type(random_number)

str

This means that when we pass in an integer as an input we'll have to cast it to the correct data type; into an integer. Casting is the process of change compatable values into antoher data type e.g. 3 as an integer can be casted to a float.

In [12]:
random_number2 = 42
type(random_number2)

int

In [13]:
casted_random_number = float(random_number2)
type(casted_random_number)

float

In [14]:
print(casted_random_number)

42.0

As you can see casting ```42``` into a float yields ```42.0```. Do note that casting between some data types won't work for example casting a integer to a string:

In [15]:
test_string = "Hello!"
casted_test_string = int(test_string)

ValueError: invalid literal for int() with base 10: 'Hello!'

As you can see from the error when running the above cell, we can't cast a the string 'Hello' into an integer as it isn't a whole, numerical value.

## Functions, loops and conditional statements

The examples we have played around with above, show basic function calls... but how do we define and build our own functions?

In [16]:
def add_two_numbers(a, b):
    """
    A function that adds two numbers together.

    Parameters
    ----------
    a : int
        The first number to add.
    b : int
        The second number to add.
    """
    return a + b

Above we have defined our own function, albeit a very simple one. It's best practice to add a docstring to the function to aid with readability, this should describe the core behaviour, any parameters and also any returns - ensuring to include the types.

In [17]:
for i in range(1, 10): #Define a for loop using the range function.
    if i == 2: #Define an if statement.
        continue #Skip the current iteration if i is equal to 2.
    print(add_two_numbers(i, i+1)) #Call the add_two_numbers function and print the result incrementally.

3
7
9
11
13
15
17
19

Let's break down the snippet above...
* We have defined a for loop which will loop through the interable 'i',
* When 'i' is equal to 2, the loop will skip that iteration - this is captured in the if statement and executed by the continue statement
* When 'i' is not equal to 2, the loop will execute the core behaviour which is adding 'i' to 'i+1' at that iteration.

For example, we should expect the output 7 when 'i' is equal to 3

## Challenge time!

Build a calculator, breaking down the core behaviours into individual functions and adhering to the best practices covered in the content!